# This is the survey data from HCAHPS for a hospital. We will see what types of insights we can gather from the results

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import sklearn as sk
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, davies_bouldin_score, calinski_harabasz_score
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from mpl_toolkits.mplot3d import Axes3D
from prompt_toolkit.shortcuts.progress_bar import Label
from sklearn.neural_network import MLPClassifier

# Checking to see the first 5 rows of the data

In [2]:
df = pd.read_csv('C:\\Users\\chris\\aa Git Storage Place\\HCAHPS Survey Results\\Data\\state_results.csv')
df.head()

,Release Period,State,Measure ID,Bottom-box Percentage,Middle-box Percentage,Top-box Percentage
0,07_2015,AK,H_CLEAN_HSP,8,22,70
1,07_2015,AK,H_COMP_1,9,17,74
2,07_2015,AK,H_COMP_2,10,15,75
3,07_2015,AK,H_COMP_3,11,21,68
4,07_2015,AK,H_COMP_5,19,17,64

# Checking the data type of each column and whether or not I have any Null values
1. Release period needs to be converted to a date
2.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4580 entries, 0 to 4579
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Release Period         4580 non-null   object
 1   State                  4580 non-null   object
 2   Measure ID             4580 non-null   object
 3   Bottom-box Percentage  4580 non-null   int64
 4   Middle-box Percentage  4580 non-null   int64
 5   Top-box Percentage     4580 non-null   int64
dtypes: int64(3), object(3)
memory usage: 214.8+ KB